*{
  margin: 0px;
}
.App{
  background-color: #FAFAFA;
  height: 100%;
  
  
}

.App-header{
   background-color:#FFFFFF;
  /* height: 20px; */
  padding: 16px;
  object-fit: contain;
 border-bottom: 1px solid lightgray;
 display: flex;
 /* flex-direction: row; */
 flex-shrink: 1;
 justify-content:space-around; 
 align-items: center;
  
  
}
.App-image{
  height: 33px;

}

.post{
   /* display: flex;
  flex-direction: column;
  /* justify-content:center;  */
  align-items: center;  
}